
.container-f{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}


@media  (min-width: 576px){
  .container-f {
     max-width: 540px;
    }
  }

@media  (min-width: 768px){
  .container-f {
     max-width: 720px;
    }
  }
@media  (min-width: 992px){
  .container-f {
     max-width: 960px;
    }
  }
  @media  (min-width: 1200px){
    .container-f {
       max-width: 1140px;
      }
    }

.slideshow{
    padding-top: 82px;
}

.section-content{
  padding-top: 140px;
  padding-bottom: 50px;
}


.container-card {
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
}
.row-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-download{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hidden{
    display: none;
}



.row-blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-shadow{
    flex: 0 1 23rem;
    display: flex;
    align-items: center;
    margin: 20px 18px 44px;
    background: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 15px rgb(0 0 0 / 5%);
    border-radius: 10px;
    /* padding: 17px 18px 17px; */
    padding: 30px;
    align-self: normal;
}
.section-left{
    flex: 0 1 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 18px 44px;
    background: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 15px rgb(0 0 0 / 5%);
    border-radius: 10px;
    align-self: normal;
}

.recent-post{
  padding: 20px;
}
.recent-post h4{
  position: relative;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding-left: 12px;
 margin-bottom: 30px;
}
.recent-post h4::before{
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 3px;
  background: #3616ea;
}

.recent-news{
    box-shadow: 0 0 15px rgb(0 0 0 / 5%);
    padding: 52px;
}

.mb-30{
    margin-bottom: 30px;
}
.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-6{
  margin-bottom: 3rem;
}

.justify-center{
  justify-content: center;
}


.image img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card-details {
    flex: 0 1 44rem;
    display: flex;
    align-items: flex-start;
    margin: 20px 18px 44px;
    flex-direction: column;
    background: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 15px rgb(0 0 0 / 5%);
    border-radius: 15px;
    padding: 17px 18px 17px;
    align-self: normal;
}

.card-details img {
  width: 100%;
  height: auto;
  transition: 0.5s;
  object-position: center;
  border-radius: 15px;
  margin: 0 auto 25px;
}


.card-details h3{
font-size: 18px;
font-weight: 600;
color: #3f3975;
margin-bottom: 1em;
}

.card-details p{
font-size: 14px;
}

.blog-info{
  list-style: none;
  display: flex;
  padding-left : 0rem ;
  font-size: 11px;
  color:#fff
}
 ul{
margin-bottom: 0px !important;
}
.blog-info li{
 margin-right: 10px;
}

.row-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cardpokersize {
  flex: 0 1 23rem;
  display: flex;
  margin: 20px 18px 44px;
  flex-direction: column;
  background: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px rgb(0 0 0 / 5%);
  border-radius: 15px;
  padding: 17px 18px 17px;
  align-self: normal;
}

.cardpokersize img {
width: 100%;
height: 255px;
object-fit: cover;
object-position: top;
border-radius: 15px;
margin: 0 auto 25px;
}

.cardpokersize:hover{
  transform: translateY(-10px);
}

.cardpokersize h3{
font-size: 16px;
font-weight: 500;
color: #3f3975;
margin-bottom: 1em;
}
.cardpokersize p{
font-size: 14px;
text-align: center;
}
.cardpokersize a{
color: #444;
}
.cardpokersize a:hover{
color: #1850ca;
}


/* Galeri Foto */
.container-image {
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
}

.row-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-image {
  flex: 0 1 17rem;
  display: flex;
  align-items: center;
  margin: 20px 13px 10px;
  flex-direction: column;
  background: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  align-self: normal;
}

.card-image img {
width: 100%;
height: 185px;
object-fit: cover;
transition: 0.5s;
object-position: top;
margin: 0 auto 10px;
}

.card-image:hover img{
/* transform: scale(0.9); */
}

.card-image h3{
font-size: 13px;
font-weight: 500;
color: #444;
text-align: center;
margin-bottom: 1em;
}

.card-image p{
font-size: 14px;
text-align: center;
}

@media  (max-width: 576px){
  .card-image img  {
     height: auto;;
    }
  .card-image  {
    flex: 0 1 19rem;
    }
  .row-image  {
     justify-content: center;;
    }
  }

  @media  (max-width: 768px){
    .card-image img  {
      height: auto;;
     }
     .card-image  {
      flex: 0 1 19rem;
      }
     .row-image  {
      justify-content: center;
     }
    }

 
.video-responsive{
  width: 100%;
  height: 400px;
  object-fit: cover;
}


.section-title.section-tittle {
    /* text-align: center; */
    padding-bottom: 20px;
}

.section-tittle h2 {

    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
   font-family: Poppins,Helvetica,sans-serif;
    line-height: 35px;
    color: #1A516F;
  }

  
@media only screen and  (max-width: 576px){
  .section-tittle h2{
    font-size: 15px;
    }
  }

  .img-footer{
    width: 60%;
    margin-bottom: 2rem;
  }

  .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.blog-grid img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.pt-24{
  padding-top: 5rem;
}



/* Galeri new */
.flex-section {
  text-align: center;
}
/* section {
  overflow: hidden;
  padding: 30px 0;
  margin: 0;
} */

/* @media screen and (min-width: 768px){
 section {
    padding: 40px 0;
 }
}

@media screen and (min-width: 1096px){
section {
    padding-top: 50px;
  }
} */
@media screen and (min-width: 768px){
   .section--collections {
    text-align: left;
  }
}


.flex-section--content {
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
}
.flex-section {
  text-align: center;
}

@media screen and (min-width: 768px){
 .section--collections {
    text-align: left;
  }
}



@media screen and (min-width: 1096px){
.flex-section--content {
    max-width: 1170px;
    display: block;
  }
}

.flex-section--content {
  width: 100%;
}

.flex-section--content>* {
  padding: 0 20px;
}

.flex-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-section--carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
}



 section .flex-section--carousel {
  margin-top: 30px;
}



@media screen and (min-width: 1096px){
 section .flex-section--carousel {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1400px){
.section--collections .flex-section--carousel {
  flex-wrap: wrap;
    justify-content: space-between;
    overflow: initial;
  }
}

/* .caption-list--double>*:not(:first-child) {
  margin-left: 30px;
} */

li{
  list-style: none;
  /* margin-left: 30px; */
}


.caption-list>*:not(:first-child) {
  margin-left: 20px
}

.caption-list--double {
  padding-top: 15px;
  padding-bottom: 15px;
  /* margin: 30px; */
}

/* .caption-list--double>*:not(:first-child) {
  margin-left: 30px;
} */

.caption-list--double .caption-list--wrapper {
  text-align: center;
  height: 226px
}

.caption-list--double .caption-list--wrapper:not(.caption-list--more) {
  box-shadow: 0px 1px 2px rgba(55,73,87,0.1),0px 3px 6px rgba(55,73,87,1.15)
}

.caption-list--item {
  display: block;
  position: relative
}

.caption-list--item:hover .caption-list--wrapper:after {
  opacity: 1
}

.caption-list--item:hover .caption-list--image {
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px)
}

.caption-list--item:hover .caption-list--subtitle {
  opacity: 1;
  margin-bottom: 0
}

.caption-list--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotate(5deg);
  opacity: 0.5;
  transition: 0.2s all ease-out
}


.caption-list--wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 180px;
  height: 162px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: 15px
}

.caption-list--wrapper:before,.caption-list--wrapper:after {
  content: "";
  z-index: 1;
  background:linear-gradient(180deg, rgba(0,0,0,0) 40%, rgb(0 0 0 / 72%) 100%)
}

.caption-list--wrapper:after {
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0.1) 100%);
  opacity: 0
}

.caption-list--wrapper:before,.caption-list--wrapper:after,.caption-list--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s all ease-out;
  border-radius: 10px
}

.caption-list--image {
  object-fit: cover;
  object-position: center
}

.caption-list--more {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #cfd9e0
}

.caption-list--more:before,.caption-list--more:after {
  display: none
}

.caption-list--title,.caption-list--subtitle {
  position: relative;
  z-index: 2;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px
}

.caption-list--subtitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  opacity: 0;
  margin-bottom: -18px;
  transition: 0.2s all ease-out
}

@media screen and (min-width: 768px) {
  .caption-list>*:not(:first-child) {
      margin-left:30px
  }
}

@media screen and (min-width: 1096px) {
  .caption-list--double .caption-list--wrapper {
      height:311px
  }

  .caption-list--wrapper {
      width: 251px;
      /* min-width: 288px */
  }
}

.overflow-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical
}
.card{
  border:none !important;
}


.card-img-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 10px;
}

.justify-end{
  justify-content: flex-end
}

.card-img-post{
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.swiper-button-prevv{
  position: static;
  top: auto;
  bottom: 0;
  height: 35px;
  width: 35px;
  background: #F3F6FA;
  border: 1px solid #e6e6e6;
  font-size: 20px;
  color: #636363;
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
  border-radius: 7px;
}
.swiper-button-nextt {
  position: static;
  top: auto;
  bottom: 0;
  height: 35px;
  width: 35px;
  background: #F3F6FA;
  border: 1px solid #e6e6e6;
  font-size: 20px;
  color: #636363;
  line-height: 30px;
  text-align: center;
  border-radius: 7px;
}


.swiper-button-prevv::after,
.swiper-button-nextt::after {
  content: var(--tw-content);
  display: none;
}

.swiper-button-prevv:hover,
.swiper-button-nextt:hover {
  --tw-border-opacity: 1;
  border-color: rgb(112 131 245 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(112 131 245 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.swipper-nav {
  position: absolute;
  top: -62px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 9999;
}

@media screen and  (max-width: 576px){
  .swipper-nav{
    right: 0px;
    }
  }

.relative{
  position: relative;
}



.card-text{
  font-size: 12px;
}

.retro-layout .v-height {
  height: 185px; }
.retro-layout .b-height {
  height: 400px; }
.retro-layout .p-height {
  height: 300px; }

@media (max-width: 767.98px) {
  .retro-layout .img {
    height: 240px; } }

.retro-layout .h-entry {
  display: block;
  position: relative;
  border-radius: 5px;
  overflow: hidden; }
  .retro-layout .h-entry .post-category {
    color: #fff; }
  .retro-layout .h-entry .featured-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .retro-layout .h-entry:hover .featured-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .retro-layout .h-entry.mb-30 {
    margin-bottom: 30px; }
  .retro-layout .h-entry .date {
    font-size: 11px; }
  .retro-layout .h-entry.gradient {
    position: relative; }
    .retro-layout .h-entry.gradient:before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
      background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }

.retro-layout .text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  max-width: 350px; }
  
.retro-layout .text h5 {
  font-size: 15px;
 }
  .retro-layout .text h2, .retro-layout .text .h2 {
    color: #fff;
    font-size: 11px;
    line-height: 1.2;
    margin-bottom: 0; }
  .retro-layout .text span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    display: block;
    margin-bottom: 5px; }
  .retro-layout .text.text-sm h2, .retro-layout .text.text-sm .h2 {
    font-size: 18px;
    line-height: 1.5; }

.retro-layout .gradient {
  position: relative; }
  .retro-layout .gradient:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }

@media (max-width: 767.98px) {
  .retro-layout .img-5 {
    height: 240px !important;
    margin-bottom: 30px;
    margin-top: 30px; } }

.retro-layout-alt .img-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 767.98px) {
    .retro-layout-alt .img-1 {
      height: 240px !important;
      position: relative;
      margin-bottom: 30px; } }

.retro-layout-alt .img-2 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media (max-width: 767.98px) {
    .retro-layout-alt .img-2 {
      height: 240px !important; } }

.retro-layout-alt .mb30 {
  margin-bottom: 30px; }

.retro-layout-alt .hentry {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px; }
  .retro-layout-alt .hentry .featured-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .retro-layout-alt .hentry:hover .featured-img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.retro-layout-alt .gradient {
  position: relative; }
  .retro-layout-alt .gradient:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }

.retro-layout-alt .post-category {
  margin-left: 20px;
  margin-top: 10px; }

.retro-layout-alt .v-height {
  height: 300px; }

.retro-layout-alt .text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  padding: 20px;
  max-width: 350px; }
  .retro-layout-alt .text h2, .retro-layout-alt .text .h2 {
    color: #fff;
    font-size: 26px; }
  .retro-layout-alt .text span {
    color: rgba(255, 255, 255, 0.7); }
  .retro-layout-alt .text.text-sm h2, .retro-layout-alt .text.text-sm .h2 {
    font-size: 18px;
    line-height: 1.5; }

.retro-layout-alt .two-col > a {
  width: calc(50% - 15px);
  float: left; }
  @media (max-width: 575.98px) {
    .retro-layout-alt .two-col > a {
      width: 100% !important;
      float: none !important;
      margin-bottom: 30px; } }

      .videos__large__item__text {
        background: rgba(7, 14, 38, 0.7);
        padding: 25px 30px 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
      }

      .article-info{
        display: flex;
        align-items: center;
        list-style: none;
        }

        .px-6{
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
        @media screen and  (max-width: 576px){
          .px-6{
            padding-left: 0;
            padding-right: 0;
            }
          }
       
        

